{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="{% static 'css/principal.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-icons.css' %}">
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
</head>

<body>
    <header class="navbar sticky-top flex-md-nowrap p-0 shadow" style="color: white;background-color:(17, 20, 40)">
        <a class="navbar-brand col-md-1" style="text-align:center;color: white" href="{% url 'app:home' %}"><img
                src="{% static 'images/logo.jpg' %}" width="120" height="40"></a>

        <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search">
        <div class="dropdown">
            <a href="#" style=" color:white;"
                class="d-flex align-items-center justify-content-center p-3 link-white text-decoration-none dropdown-toggle"
                id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                Welcome, {% if doctor %}
                    {{ doctor }}
                {% elif patient %}
                    {{ patient }}
                {% else %}
                    guess
                {% endif %}!
            </a>
        </div>
        <div>
            <a href="{% url 'app:login' %}" style=" color:white;"
                class="d-flex align-items-center justify-content-center p-3 link-white text-decoration-none">
                Sign out
            </a>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <main>
                <div class="row">
                    <div class="col-md-1" id="sidebarMenu"
                        style="text-align:center;width: 4.5rem;background-color: rgb(37, 40, 80)">
                        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                            <li class="nav-item">
                                <a href="{% url 'app:home' %}" class="nav-link py-3 border-bottom" aria-current="page"
                                    title="" data-bs-toggle="tooltip" data-bs-placement="right"
                                    data-bs-original-title="Home">
                                    <div class="icon" style="color:white">
                                        <i class="bi bi-house-door-fill" aria-label="Dashboard">
                                            <use xlink:href="#speedometer2"></use>
                                        </i>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'app:eda' %}" class="nav-link py-3 border-bottom" title=""
                                    data-bs-toggle="tooltip" data-bs-placement="right"
                                    data-bs-original-title="Dashboard">
                                    <div class="icon" style="color:white">
                                        <i class="bi bi-clipboard2-data-fill"></i>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'app:audio_analysis' 1 1%}" class="nav-link py-3 border-bottom" title=""
                                    data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                                    <div class="icon" style="color:white">
                                        <i class="bi bi-clipboard-pulse"></i>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'app:medic' 1 %}" class="nav-link py-3 border-bottom" title=""
                                    data-bs-toggle="tooltip" data-bs-placement="right"
                                    data-bs-original-title="Products">
                                    <div class="icon" style="color:white">
                                        <i class="bi bi-gear-fill"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% block content %}{% endblock %}
                </div>
            </main>
        </div>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            let timerInterval
            Swal.fire({
                title: 'Loading...',
                timer: 700,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()
                },
                willClose: () => {
                    clearInterval(timerInterval)
                }
            }).then((result) => {
            })
        });
    </script>
</body>

</html>