{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="col-md-1"></div>
<div class="col-md-10 col-lg-10">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Patient ID</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body" style="text-align: center">
          <h4 class="my-0 fw-normal">30</h4>
          <p class="lead">AGE</p>
          <div class="icon">
            <i class="bi bi-gender-female"></i>
          </div>
          <p class="lead">SEX</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body" style="text-align: center">
          <svg class="bd-placeholder-img rounded-circle" width="70" height="70" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
          </svg>
          <h4 class="my-0 fw-normal">JIMENA DÍAZ</h4>
          <p class="lead">C.C 102039494</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body" style="text-align: center">
          <h4 class="my-0 fw-normal">65 KG</h4>
          <p class="lead">WEIGH</p>
          <h4 class="my-0 fw-normal">170 CM</h4>
          <p class="lead">HEIGH</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body" style="text-align: center">
          <h5 class="my-0 fw-normal">MODEL PERFORMANCE</h5>
          <div class="row">
            <div class="col-md-8">
              <p class="lead">87</p>
            </div>
            <div class="col-md-4">
              <div class="icon">
                <i class="bi bi-percent"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body" style="text-align: center">
          <h5 class="my-2 fw-normal">UPLOAD NEW AUDIO</h5>
          <div class="row">
            <div class="col-md-8">
              <h6>Wav format</h6>
            </div>
            <div class="col-md-4">
              <form action="{{ BASE_DIR }}{% url 'app:home' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-sm btn-secondary" type="submit">
                  <div class="icon">
                    <i class="bi bi-upload"></i>
                  </div>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body" style="text-align: center">
          <h5 class="my-0 fw-normal">DIAGNOSIS</h5>
          <div class="row">
            <div class="col-md-8">
              <p class="lead">Healthy</p>
            </div>
            <div class="col-md-4">
              <div class="icon">
                <i class="bi bi-postcard-heart"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card mb-4 shadow-sm">
        <div class="card-body" style="text-align: center">
          <h5 class="my-2 fw-normal">SIGNAL FILTERING RESULT</h5>
          <img src="{% static 'images/filtradoej.png' %}" width="820" height="180">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-body" style="text-align: center">
          <h5 class="my-2 fw-normal">PRINCIPAL RESPIRATORY CYCLES</h5>
          <img src="{% static 'images/ciclosej.png' %}" width="420" height="180">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-body" style="text-align: center">
          <h5 class="my-0 fw-normal">CYCLES</h5>
          <canvas id="pietypecycle" width="180" height="180"></canvas>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <div class="table-responsive">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>ABOUT AUDIO</th>
              </tr>
              <tr>
                <th>Acquisition mode</th>
                <th>Reference Device</th>
                <th>Duration</th>
                <th>Ubication</th>
                <th>b</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>sc</td>
                <td>Meditron</td>
                <td>2:12</td>
                <td>Al</td>
                <td>1b1</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}